/* Andy Mode Sliding Panes
   Designed for use with death_au's plugin */

body.plugin-sliding-panes-rotate-header .workspace > .mod-root .view-header {
  text-orientation: sideways;
}

body.plugin-sliding-panes-stacking .workspace > .mod-root > .workspace-leaf,
body.plugin-sliding-panes .workspace-split.mod-vertical > .workspace-leaf {
  box-shadow: var(--background-modifier-border) -1px -0px !important;
}

body.plugin-sliding-panes .mod-horizontal .workspace-leaf {
  box-shadow: none !important;
}

body.plugin-sliding-panes:not(.is-fullscreen) .workspace-split.is-collapsed ~ .workspace-split.mod-root .view-header {
  padding-top: 14px;
  transition: padding 0.1s ease;
}

body.plugin-sliding-panes .view-header-title:before {
  background: none;
}

body.plugin-sliding-panes .view-header {
  background: none;
}

body.plugin-sliding-panes-rotate-header .workspace > .mod-root .view-header-title-container
body.plugin-sliding-panes-rotate-header.plugin-sliding-panes-header-alt .workspace > .mod-root .view-header-title {
  margin-top: 0;
}

body.plugin-sliding-panes-rotate-header .workspace > .mod-root .view-header-title-container {
  margin-left: 0;
  padding-top: 0;
}

body.plugin-sliding-panes-rotate-header .view-header-title-container {
  position: static;
}

body.plugin-sliding-panes-rotate-header .workspace > .mod-root .view-actions {
  padding-left: 0;
  padding-bottom: 20px;
  margin-left: -2px;
  bottom: 0;
}

body.plugin-sliding-panes-rotate-header .view-header-icon {
  opacity: 0.5;
  margin-left: -7px;
}

body.plugin-sliding-panes.is-fullscreen .view-header-icon {
  padding-top: 8px;
}

body.plugin-sliding-panes .mod-root .graph-controls {
  top: 20px;
  left: 30px;
}

body.plugin-sliding-panes .CodeMirror,
body.plugin-sliding-panes .markdown-preview-section {
  margin-left: 35px;
}
