/*----------------------------------------------------------------
BULLET POINT RELATIONSHIP LINES
----------------------------------------------------------------*/

.cm-hmd-list-indent .cm-tab,
ul ul {
  position: relative;
}

.cm-hmd-list-indent .cm-tab::before,
ul ul::before {
  content: "";
  border-left: 1px solid var(--text-muted);
  /*color: #92CDD6;*/
  position: absolute;
  margin-left: -0.92rem;
}

ul ul::before {
  left: 0;
  top: 0;
  bottom: 0;
}

ul.contains-task-list ul::before {
  left: -0.05rem;
  top: 0.3rem;
  bottom: -0.15rem;
}

/*
.cm-hmd-list-indent .cm-tab::before {
  left: 0;
  top: -5px;
  bottom: -4px;
}*/


