.hider-frameless:not(.hider-ribbon) .workspace-split.mod-left-split .workspace-tab-header-container,
.discordian-writer:not(.hider-ribbon) .workspace-split.mod-left-split .workspace-tab-header-container
{
  padding-left: 24px;
}

.discordian-writer.hider-ribbon .mod-left-split .workspace-tab-header-container,
.hider-frameless.hider-ribbon .mod-left-split .workspace-tab-header-container {
  padding-left: 54px;
}

.discordian-writer .workspace-split.mod-left-split > .workspace-tabs {
  padding-top: 0 !important;
}

.hider-frameless .workspace-split.mod-left-split > .workspace-tabs {
  padding-top: 0 !important;
}

.workspace-leaf:first-of-type:last-of-type .view-header {
  padding-left: 0;
}

.discordian-writer .mod-left-split.is-collapsed + div.mod-root .workspace-leaf:first-of-type .view-header,
.hider-frameless .mod-left-split.is-collapsed + div.mod-root .workspace-leaf:first-of-type .view-header
{
  padding-left: 30px !important;
  transition: padding-left .15s ease;
}

.discordian-writer.hider-ribbon:not(.is-fullscreen) .mod-left-split.is-collapsed + div.mod-root .workspace-leaf:first-of-type .view-header,
.hider-frameless.hider-ribbon:not(.is-fullscreen) .mod-left-split.is-collapsed + div.mod-root .workspace-leaf:first-of-type .view-header,
.hider-ribbon:not(.is-fullscreen) .mod-left-split.is-collapsed + div.mod-root .workspace-leaf:first-of-type .view-header {
  padding-left: 62px !important;
  transition: padding-left .15s ease;
}

.discordian-writer .titlebar,
.hider-frameless .titlebar {
  border-bottom: none;
}

/* when no ribbons add slight animation for left and right panels */
/*.hider-ribbon .workspace-split.mod-left-split, .hider-ribbon .workspace-split.mod-right-split {
  transition: width .15s ease;
}*/

/* fullscreen mode on macOS */
.is-fullscreen .workspace-split.mod-left-split .workspace-tab-header-container {
  padding-left: 0;
}

/* Force-hide titlebar regardless of settings
This is required to make settings modal present like in Discord */
body:not(.hider-frameless):not(.discordian-writer):not(.discordian-theme) .modal-container {
  top: -22px !important;
  height: 100vh !important;
}
