.hider-frameless:not(.hider-ribbon) .workspace-split.mod-left-split .workspace-tab-header-container {
  padding-left: 24px;
}

.hider-frameless.hider-ribbon .mod-left-split .workspace-tab-header-container {
  padding-left: 54px;
}

.hider-frameless .workspace-split.mod-left-split > .workspace-tabs {
  padding-top: 0;
}

.workspace-leaf:first-of-type:last-of-type .view-header {
  padding-left: 0;
}

.hider-frameless .mod-left-split.is-collapsed + div.mod-root .workspace-leaf:first-of-type .view-header {
  padding-left: 36px !important;
  transition: padding-left .50s ease;
}

.hider-frameless.hider-ribbon .mod-left-split.is-collapsed + div.mod-root .workspace-leaf:first-of-type .view-header {
  padding-left: 72px !important;
  transition: padding-left .50s ease;
}

/* when no ribbons add slight animation for left and right panels */
.hider-ribbon .workspace-split.mod-left-split, .hider-ribbon .workspace-split.mod-right-split {
  transition: width 50ms ease;
}

/* fullscreen mode on macOS */
.is-fullscreen .workspace-split.mod-left-split .workspace-tab-header-container {
  padding-left: 0;
}
