/*----------------------------------------------------------------
IMAGES RELATED ADD-ONS
----------------------------------------------------------------*/

/*----------------------------------------------------------------
Floating images with captions by @radekkozak */

.markdown-preview-view:not(.img-grid) .image-embed:not([src$="left"]):not([src$="right"]) {
  clear: both;
  display: table;
  margin: 1rem auto;
  width: fit-content;
}

.markdown-preview-view:not(.img-grid) .image-embed:not([src$="left"]):not([src$="right"])::after {
  content: attr(alt);
  padding: 0 1rem 0 1rem;
  margin-top: 1rem;
  display: table-caption;
  caption-side: bottom;
  text-align: center;
  font-size: 0.8125rem;
}

.markdown-preview-view:not(.img-grid) .image-embed[src$="left"] {
  position: relative;
  float: left;
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  clear: both;
  display: table;
  width: fit-content;
}

.markdown-preview-view:not(.img-grid) .image-embed[src$="left"]::after {
  content: attr(alt);
  padding: 0 1rem 0 1rem;
  margin-top: 1rem;
  display: table-caption;
  caption-side: bottom;
  text-align: center;
  font-size: 0.8125rem;
}

.markdown-preview-view:not(.img-grid) .image-embed[src$="right"] {
  position: relative;
  float: right;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  clear: both;
  display: table;
  width: fit-content;
}

.markdown-preview-view:not(.img-grid) .image-embed[src$="right"]::after {
  content: attr(alt);
  padding: 0 1rem 0 1rem;
  margin-top: 1rem;
  display: table-caption;
  caption-side: bottom;
  text-align: center;
  font-size: 0.8125rem;
}

/*----------------------------------------------------------------
Modified masonry-like gallery (image grids)
Credits to @kepano */

.img-grid .markdown-preview-section img:not([width]),
.img-grid .markdown-preview-section video {
  width: 100%;
}

.img-grid .markdown-preview-section > div > p {
  display: flex;
}

.img-grid .markdown-preview-section > div > p > .image-embed {
  flex: 1;
  margin-left: -0.75rem;
  padding: 0 0.75rem 0 0.75rem;
}

.img-grid .markdown-preview-section > div > p > .image-embed:last-child {
  padding-right: 0;
}

.img-grid .markdown-preview-section > div hr {
  width: 100%;
}

/* These lines make every image the same height */
.img-grid .markdown-preview-section > div > p > .image-embed img:not(:active) {
  object-fit: cover;
  height: 100%;
}

/*----------------------------------------------------------------
Image zooms. Credits to @kepano */

.view-content img {
  max-width: 100%;
  cursor: zoom-in;
}

.view-content img:active {
  cursor: zoom-out;
  display: block;
  z-index: 100;
  position: fixed;
  max-height: calc(100% + 1px);
  max-width: calc(100% - 8rem);
  height: calc(100% + 1px);
  width: 100%;
  object-fit: contain;
  margin: -0.5px auto 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}
