/*----------------------------------------------------------------
CUSTOM TEXT HIGHLIGHTS
----------------------------------------------------------------*/

.theme-dark {
  --text-mark-green: hsla(111, 25%, 70%, 1);
  --text-mark-blue: hsla(210, 100%, 80%, 0.8);
  --text-mark-red: hsla(345, 72%, 83%, 0.95);
  --text-mark-grey: hsla(0, 0%, 74%, 0.9);
}

.markdown-preview-view mark.red {
  background-color: var(--text-mark-red) !important;
}

.markdown-preview-view mark.blue {
  background-color: var(--text-mark-blue) !important;
}

.markdown-preview-view mark.green {
  background-color: var(--text-mark-green) !important;
}

.markdown-preview-view mark.grey {
  background-color: var(--text-mark-grey) !important;
}

.theme-dark mark.red,
.theme-dark mark.blue,
.theme-dark mark.green,
.theme-dark mark.grey {
  color: #111 !important;
}
