/*----------------------------------------------------------------
CUSTOM TEXT HIGHLIGHTS
----------------------------------------------------------------*/

.theme-dark {
  --text-mark-green: hsla(110, 25%, 50%, 1);
  --text-mark-blue: hsla(195, 40%, 50%, 1);
  --text-mark-red: hsla(345, 35%, 50%, 1);
  --text-mark-grey: hsla(0, 0%, 50%, 1);
}

.markdown-preview-view mark.red {
  -webkit-box-shadow: inset 0 -2px var(--text-mark-red);
  box-shadow: inset 0 -2px var(--text-mark-red);
  padding-bottom: 4px;
}

.markdown-preview-view mark.blue {
  -webkit-box-shadow: inset 0 -2px var(--text-mark-blue);
  box-shadow: inset 0 -2px var(--text-mark-blue);
  padding-bottom: 4px;
}

.markdown-preview-view mark.green {
  -webkit-box-shadow: inset 0 -2px var(--text-mark-green);
  box-shadow: inset 0 -2px var(--text-mark-green);
  padding-bottom: 4px;
}

.markdown-preview-view mark.grey {
  -webkit-box-shadow: inset 0 -2px var(--text-mark-grey);
  box-shadow: inset 0 -2px var(--text-mark-grey);
  padding-bottom: 4px;
}
