/*----------------------------------------------------------------

CUSTOM READABLE LINE */

.theme-dark {
  /* Max chars per line (obsidian default = 40rem). Turn off "Readable line length" in Obsidian Settings */
  --line-width: 60rem;
  /* Amount of padding around the text, use 90% for narrower padding */
  --max-width: 85%;
}

.markdown-source-view.is-readable-line-width .CodeMirror-sizer {
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto 0 auto;
  width: var(--line-width);
  max-width: var(--max-width);
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  max-width: 100%;
  width: auto;
}

.markdown-source-view.is-readable-line-width .CodeMirror,
.CodeMirror,
.markdown-preview-section {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 auto 0 auto;
  width: var(--line-width);
  max-width: var(--max-width);
}

.markdown-source-view.is-readable-line-width .CodeMirror-hscrollbar {
  overflow-x: hidden;
}

.markdown-source-view.is-readable-line-width .cm-s-obsidian {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.markdown-preview-view.is-readable-line-width,
.markdown-source-view.is-readable-line-width {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

/*.view-header-title-container {
  padding-left:0;
  padding-right:0px;
  position:absolute;
  width:var(--line-width);
  max-width:var(--max-width);
  margin:0 auto;
  left:0;
  right:0;
}*/