
audio::-webkit-media-controls-enclosure {
  border-radius: 4px;
  max-height: 30px;
  background-color: var(--background-secondary-alt) !important;
}

audio::-webkit-media-controls-play-button {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23bfc1c2' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 5v14l11-7z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: var(--text-normal);
  text-shadow: rgb(59, 59, 59) 0px 0px 10px;
}
input[pseudo="-webkit-media-controls-timeline"]::-internal-track-segment-highlight-before {
  background-color: #ff8a00 !important;
}

audio::-internal-track-segment-highlight-before {
  background: none !important;
}

audio::-webkit-media-controls-mute-button {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23bfc1c2' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E%0A");
}

audio::-webkit-media-controls-fullscreen-button,
audio::-internal-media-controls-overflow-button {
  display: none !important;
}

input[pseudo="-internal-media-controls-overflow-button"] {
  display: none !important;
}
audio::-internal-media-controls-overflow-button {
  filter: invert(100%);
  appearance: none;
  background-color: #ff8a00;
  color: #ff8a00 !important;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 255 255;' xml:space='preserve' fill='%2323bfc1c2'%3E%3Cg%3E%3Ccircle cx='12' cy='6' r='2'/%3E%3Ccircle cx='12' cy='12' r='2'/%3E%3Ccircle cx='12' cy='18' r='2'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
}
input[type="range" i] {
  color: #fff !important;
}
audio::-webkit-media-controls-timeline {

  filter: invert(85%);
}
audio::-webkit-media-controls-fullscreen-button {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23bfc1c2' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z'/%3E%3C/svg%3E");
}

audio::-webkit-media-controls-fullscreen-button + input {
  display: none !important;
}
.theme-dark audio {
  filter:none;
  /*filter: sepia(80%) saturate(90%) grayscale(50) contrast(99%) invert(80%);*/
  /*filter: invert(100%);
  filter: hue-rotate(15%);*/
  border-radius: 0 !important;

}