/*----------------------------------------------------------------
BUTTONS
----------------------------------------------------------------*/

button {
}

button.mod-cta {
  background-color: var(--discord-blue);
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
}

button.mod-cta:hover {
  background-color: var(--discord-blue-hover);
}

button:not(.mod-cta):not(.mod-warning),
.modal button:not(.mod-cta):not(.mod-warning) {
  background-color: var(--discord-grey);
  color: white;
}

button:not(.mod-cta):not(.mod-warning):hover {
  background-color: var(--discord-grey-hover);
}

button.mod-cta a {
  font-family: var(--default-font);
}

button.mod-cta a:hover {
  text-decoration: none;
  color: inherit;
}

.modal.mod-settings a > button {
  margin-right: 8px;
}
