/*----------------------------------------------------------------
BUTTONS
----------------------------------------------------------------*/

button {
}

button.mod-cta {
  background-color: var(--discord-blue);
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
}

button.mod-cta:hover {
  background-color: var(--discord-blue-hover);
}

button:not(.mod-cta):not(.mod-warning),
.modal button:not(.mod-cta):not(.mod-warning) {
  background-color: var(--discord-grey);
  color: white;
}

button:not(.mod-cta):not(.mod-warning):hover {
  background-color: var(--discord-grey-hover);
}

button.mod-cta a {
  font-family: var(--default-font);
}

button.mod-cta a:hover {
  text-decoration: none;
  color: inherit;
}

.modal.mod-settings a > button {
  margin-right: 8px;
}

.modal-close-button::before {
  content: none;
}

.modal-close-button {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='18' height='18' viewBox='0 0 24 24'%3E%3Cpath fill='%238D9196' d='M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z'%3E%3C/path%3E%3C/svg%3E");
}

.search-input-clear-button {
  top: 6px;
}

.search-input-clear-button::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='%238D9196' d='M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z'%3E%3C/path%3E%3C/svg%3E");
}

.clickable-icon[aria-label="Delete workspace"] {
  margin-top: 4px;
}
