/*----------------------------------------------------------------
CODEBLOCKS & INLINE CODE
----------------------------------------------------------------*/

code,
.cm-inline-code {
  padding: 2px 1px;
}

/*----------------------------------------------------------------
editor */

.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
  color: var(--markup-code);
  font-size: 100%;
  background-color: var(--discord-yellow-bg);
}

.cm-s-obsidian span.cm-inline-code {
  color: var(--markup-code);
  font-size: 100%;
  background-color: var(--discord-yellow-bg);
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 1px;
}

span.cm-inline-code.cm-hmd-indented-code,
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code {
  background-color: unset !important;
  color: var(--text-normal);
  padding: 0.2rem 0;
}

.cm-s-obsidian span.cm-formatting-code.cm-inline-code {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cm-s-obsidian span.cm-formatting-code.cm-inline-code + span.cm-inline-code {
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.cm-s-obsidian span.cm-formatting-code.cm-inline-code + span.cm-inline-code + span.cm-formatting-code.cm-inline-code {
  border-left-width: 0;
  border-right-width: 1px;
  border-radius: 0 3px 3px 0;
}

.cm-s-obsidian pre.HyperMD-codeblock {
  padding: 0 0.5rem;
  color: var(--interactive-normal);
  font-family: var(--font-monospace);
  font-size: 100%;
  white-space: pre-wrap;
  background-clip: border-box;
}

.cm-s-obsidian div.HyperMD-codeblock-bg {
  background-color: var(--background-code-preview);
}

.cm-s-obsidian pre.HyperMD-codeblock.HyperMD-codeblock-begin {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 0.5rem;
}

.cm-s-obsidian pre.HyperMD-codeblock.HyperMD-codeblock-end {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*----------------------------------------------------------------
preview */

.theme-dark :not(pre) > code[class*="language-"],
.theme-dark pre[class*="language-"] {
  background: var(--background-code-preview);
  text-shadow: unset !important;
  padding: 6px 10px;
  margin: 1.5rem 0;
}

.markdown-preview-view pre {
  background-color: var(--background-code-preview);
  margin: 2rem 0;
}

.markdown-preview-view code {
  text-shadow: unset !important;
  color: var(--markup-code) !important;
  background-color: var(--discord-yellow-bg);
  font-size: 100%;
  padding-top: 4px;
  padding-bottom: 1px;
}

.markdown-preview-view pre code {
  color: var(--text-normal) !important;
  background-color: unset !important;
  font-size: 100%;
}

pre.frontmatter[class*="language-"] {
  background-color: transparent;
  text-shadow: unset !important;
  color: var(--text-normal) !important;
  padding: 0;
  margin: 0 0 1.5rem 0;
  line-height: 20px;
}

/*----------------------------------------------------------------
frontmatter */

.markdown-preview-view pre code.language-yaml,
.markdown-preview-view pre code.language-yaml span.token {
  color: var(--text-muted) !important;
}

.frontmatter-container {
  background-color: var(--background-code-preview);
  border: 0;
  margin: 0 0 1.5rem 0;
}

.frontmatter-container .frontmatter-section {
  margin: 0;
}

.frontmatter-container .frontmatter-container-header {
  border-bottom: 0;
}

.frontmatter-container .frontmatter-collapse-indicator {
  margin-top: -1px;
}

.frontmatter-container .frontmatter-section-label {
  text-transform: lowercase;
  display: inline-flex;
  font-size: 0.8125rem;
}

.frontmatter-container .frontmatter-section-label::after {
  content: ':';
  display: inline-block;
}

.frontmatter-container .tag,
.frontmatter-container .frontmatter-alias {
  background-color: var(--background-code-preview);
  border-radius: 3px !important;
  margin: 0 4px;
}

.frontmatter-container a.tag {
  padding: 0 4px !important;
}

.frontmatter-container .tag:hover {
  border: 1px solid transparent;
}

.frontmatter-container .frontmatter-alias {
  padding: 1px 4px !important;
}

.cm-s-obsidian .cm-hmd-frontmatter {
  font-size: 0.8125rem;
}
