/*----------------------------------------------------------------
CODEBLOCKS & INLINE CODE
----------------------------------------------------------------*/

code,
.cm-inline-code {
  padding: 2px 1px;
}

/*----------------------------------------------------------------
editor */

.CodeMirror-code span.cm-inline-code {
  color: var(--markup-code);
  font-size: 14px;
  background-color: var(--discord-yellow-bg) !important;
}

.CodeMirror-code span.cm-inline-code.cm-hmd-indented-code,
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code {
  background-color: unset !important;
  color: var(--text-normal);
  padding: 0.2rem 0;
}

.cm-s-obsidian pre.HyperMD-codeblock {
  padding: 4px 10px !important;
  color: var(--text-normal);
  font-size: 0.85rem;
  white-space: pre-wrap;
  background-clip: border-box;
}

.cm-s-obsidian div.HyperMD-codeblock-bg {
  background-color: var(--background-code-preview);
}

.cm-s-obsidian pre.HyperMD-codeblock.HyperMD-codeblock-begin {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.cm-s-obsidian pre.HyperMD-codeblock.HyperMD-codeblock-end {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cm-s-obsidian span.cm-inline-code {
  border-radius: 4px;
}

.cm-s-obsidian span.cm-formatting-code.cm-inline-code {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cm-s-obsidian span.cm-formatting-code.cm-inline-code + span.cm-inline-code {
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.cm-s-obsidian span.cm-formatting-code.cm-inline-code + span.cm-inline-code + span.cm-formatting-code.cm-inline-code {
  border-left-width: 0;
  border-right-width: 1px;
  border-radius: 0 4px 4px 0;
}

/*----------------------------------------------------------------
preview */

.theme-dark :not(pre) > code[class*="language-"],
.theme-dark pre[class*="language-"] {
  background: var(--background-code-preview);
  text-shadow: unset !important;
  padding: 6px 10px;
  margin: 1.5rem 0;
  font-size: 1rem;
}

.markdown-preview-view pre {
  background-color: var(--background-code-preview);
  margin: 2rem 0;
}

.markdown-preview-view code {
  text-shadow: unset !important;
  color: var(--markup-code) !important;
  background-color: var(--discord-yellow-bg);
  font-size: 0.85rem;
}

.markdown-preview-view pre code {
  color: var(--text-normal) !important;
  background-color: unset !important;
}

pre.frontmatter[class*="language-"] {
  background-color: transparent;
  text-shadow: unset !important;
  color: var(--text-normal) !important;
  padding: 0;
  margin: 0 0 1.5rem 0;
  line-height: 20px;
}

/*----------------------------------------------------------------
frontmatter */

.markdown-preview-view pre code.language-yaml,
.markdown-preview-view pre code.language-yaml span.token {
  color: var(--text-muted) !important;
}

.frontmatter-container {
  background-color: var(--background-secondary-alt);
  border: 0;
  margin: 0 0 1rem 0;
}

.frontmatter-container .frontmatter-section {
  margin: 0;
}

.frontmatter-container .frontmatter-collapse-indicator {
  margin-top: -1px;
}

.frontmatter-container .frontmatter-section-label {
  text-transform: lowercase;
  display: inline-flex;
  margin-top: 2px;
}

.frontmatter-container .frontmatter-section-label::after {
  content: ':';
  display: inline-block;
}

.frontmatter-container .tag,
.frontmatter-container .frontmatter-alias {
  border-radius: 3px !important;
  margin: 0 4px;
  line-height: 0.9em;
}

.frontmatter-container .frontmatter-alias {
  padding: 1px 4px !important;
}
