
/* NAKED EMBEDS*/

/* But keeping Border and Scroll! */

/*
.markdown-embed-title {
  display: none;
}

.markdown-preview-view .markdown-embed-content > :first-child {
  margin-top: 0;
}

.markdown-preview-view .markdown-embed-content > :last-child {
  margin-bottom: 0;
}

.markdown-embed {
  background-color: var(--background-primary-alt) !important;
}

.markdown-embed-link {
  color: var(--text-a) !important;
  right: 2px !important;
}

.markdown-embed-link:hover {
  color: var(--text-link) !important;
}*/
