/*----------------------------------------------------------------
EMBEDS
----------------------------------------------------------------*/

/*----------------------------------------------------------------
Seamless notes transclusions */

.markdown-preview-view .markdown-embed {
  margin: 2rem 0 0 0 !important;
  padding: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.markdown-preview-view .markdown-embed-content {
  max-height: none !important;
}

/* Hide frontmatters in embeds */
.markdown-preview-view .markdown-embed-content .frontmatter {
  display: none;
}

.markdown-embed-title,
.internal-embed .markdown-preview-section {
  max-width: 100%;
}

.markdown-embed-title {
  display: none !important;
}

.markdown-preview-view .markdown-embed-content > .markdown-preview-view {
  max-height: none !important;
}

.markdown-embed .markdown-preview-view {
  padding: 0 !important;
}

.file-embed-link svg,
.markdown-embed-link svg {
  width: 16px;
  opacity: 0;
}

.markdown-embed:hover .file-embed-link svg,
.markdown-embed:hover .markdown-embed-link svg {
  opacity: 1;
}

/*----------------------------------------------------------------
Audio embed */

audio,
.theme-dark audio {
  filter: unset !important;
}

.theme-dark audio::-webkit-media-controls-enclosure {
  filter: sepia(10%) contrast(90%) invert(90%) !important;
  opacity: 0.8;
  border-radius: 6px;
  height: 20px;
}

audio::-webkit-media-controls-enclosure {
  filter: sepia(10%) contrast(90%) invert(90%) !important;
  opacity: 0.8;
  border-radius: 6px;
  height: 20px;
}


.markdown-preview-view img:not([width]),
.markdown-preview-view audio,
.markdown-preview-view video {
  margin: 0 auto;
}