/*----------------------------------------------------------------
FOLDING
----------------------------------------------------------------*/

/* preview */
.markdown-preview-view .collapse-indicator,
.markdown-preview-view .collapse-indicator:hover {
  color: var(--text-faint);
}

/* subtler folding gutter arrows */
.CodeMirror-foldgutter-folded::after,
.CodeMirror-foldgutter-open::after {
  font-size: 50%;
  width: 22px;
  height: 10px;
  color: var(--text-faint);
}

.CodeMirror-foldgutter-folded::after {
  content: "\25C0";
  position: absolute;
  right: 0;
  top: 11px;
  left: -13px;
  transform: rotate(180deg);
}

.CodeMirror-foldgutter-open::after {
  content: "\25C0";
  position: absolute;
  right: 0;
  transform: rotate(-90deg);
}
