/*----------------------------------------------------------------
SUBTLER CODEFOLDING
----------------------------------------------------------------*/

/*.CodeMirror-foldgutter-folded,
.CodeMirror-foldgutter-open {
  margin-top: 6px;
}*/
/*
.CodeMirror-foldgutter-folded:after,
.CodeMirror-foldgutter-open:after {
  opacity: 1;
  font-size: 60%;
  color: var(--text-link);
}

.CodeMirror-foldgutter-folded:hover:after,
.CodeMirror-foldgutter-open:hover:after {
  opacity: 1;
  font-size: 60%;
  color: var(--text-link);
}

.CodeMirror-foldgutter-folded:after {
  content: "\25BA";
  font-size: 60%;
  color: var(--text-link);
}

.CodeMirror-foldgutter-open:after {
  content: "\25BC";
}*/

