/*----------------------------------------------------------------
FOLDING
----------------------------------------------------------------*/

/* preview */
.markdown-preview-view .collapse-indicator,
.markdown-preview-view .collapse-indicator:hover {
  color: var(--text-faint);
  font-size: unset;
}

.markdown-preview-view .collapse-indicator svg {
  vertical-align: text-top !important;
}

/* subtler folding gutter arrows */
.CodeMirror-foldgutter-folded::after,
.CodeMirror-foldgutter-open::after {
  font-size: 50%;
  color: var(--text-faint);
}

.CodeMirror-foldgutter-folded::after {
  content: "\25C0";
  position: absolute;
  right: 0;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 10px;
  height: 10px;
  transform: rotate(180deg);
}

.CodeMirror-foldgutter-open::after {
  content: "\25C0";
  position: absolute;
  right: 0;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  width: 10px;
  height: 10px;
}

.CodeMirror-gutter-elt {
  top: 0.35rem;
}
