/*----------------------------------------------------------------
UL, OL, BULLETS, CHECKBOXES & FOLDING ARROWS
----------------------------------------------------------------*/

/*----------------------------------------------------------------
task lists */

input[type=checkbox] {
  -webkit-appearance:none;
  appearance:none;
  border-radius:50%;
  border:1px solid var(--background-modifier-border-hover);
  padding:0;
}

input[type=checkbox]:focus,input[type=checkbox]:hover {
  outline:0;
  border-color:var(--text-faint);
}

/*input[type=checkbox]:checked {
  background-color:var(--text-mark-green);
  border:1px solid var(--text-mark-green);
  background-position:center;
  background-size:70%;
  background-repeat:no-repeat;
  background-image:url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23ffffff"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
}*/

.markdown-preview-view input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--text-normal);
  border-radius: 3px;
  left: -2px;
  margin-left: -13px;
  top: 5px;
}

.markdown-preview-view input[type=checkbox]:focus{
  outline:0;
}


/*.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  top: 1.3px !important;
  box-sizing: border-box;
  border: 1px solid var(--accent-2);
  position: relative;
  width: 1.25em;
  height: 1.25em;
  margin: 0;
  box-shadow: 0 0 0.1em var(--interactive-accent);
}

.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: "✓";
  position: absolute;
  color: var(--interactive-accent);
  font-size: 1em;
  line-height: 1.25em;
  width: 1.2em;
  text-align: center;
  text-shadow: 0 0 0.5em var(--accent-2);
}*/

/*
.theme-dark .markdown-preview-view input[type=checkbox]:checked {
  background-image: url('data:image/svg+xml; utf8, <svg width="100%" height="100%" viewBox="0 0 21 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="matrix(1,0,0,1,-333.852,-754.822)"><path d="M335.935,764.767L342.24,770.888L352.371,756.905" fill="none" stroke="%23cbcccc" stroke-width="4.17px"/></g></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.theme-light .markdown-preview-view input[type=checkbox]:checked {
  background-image: url('data:image/svg+xml; utf8, <svg width="100%" height="100%" viewBox="0 0 21 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="matrix(1,0,0,1,-333.852,-754.822)"><path d="M335.935,764.767L342.24,770.888L352.371,756.905" fill="none" stroke="%23191919" stroke-width="4.17px"/></g></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.markdown-preview-view .task-list-item { text-indent: -0.5em; margin-left:0;}
.markdown-preview-view .task-list-item-checkbox { margin-left:-25px; }
.markdown-preview-view .task-list-item { padding-inline-start:0px; }*/
