/*----------------------------------------------------------------
FOOTNOTES
----------------------------------------------------------------*/

sup {
  letter-spacing: 0;
  padding-left: 0.2rem;
}

.cm-s-obsidian span.cm-footref,
.cm-s-obsidian span.cm-blockid {
  vertical-align: super;
  margin-top: 0;
  font-size: small;
}

.cm-s-obsidian pre.HyperMD-footnote {
  padding-left: 3rem;
  padding-bottom: 0.5rem;
  font-size: small;
}

.footnotes {
  font-size: small;
}

.footnote-link {
  color: var(--text-a);
}

.footnote-link:hover {
  text-decoration: none;
}

.footnote-backref {
  color: var(--text-muted);
  margin-left: 0.2rem;
}
