/*----------------------------------------------------------------
HEADINGS
----------------------------------------------------------------*/

/*----------------------------------------------------------------
Preview */

.markdown-preview-view h1 {
  font-size: 2rem;
  color: var(--text-title-h1);
  line-height: 1.5 !important;
}

.markdown-preview-view h2 {
  font-size: 1.625rem;
  color: var(--text-title-h2);
}

.markdown-preview-view h3 {
  font-size: 1.375rem;
  color: var(--text-title-h3);
}

.markdown-preview-view h4 {
  font-size: 1.125rem;
  color: var(--text-title-h4);
}

.markdown-preview-view h5 {
  font-size: 1.125rem;
  color: var(--text-title-h5);
}

.markdown-preview-view h6 {
  font-size: 1rem;
  color: var(--text-title-h6);
}

.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  font-weight: 500;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 1.5 !important;
}


/*----------------------------------------------------------------
Editor */

.cm-header-1 {
  font-size:2rem;
  color: var(--text-title-h1);
  line-height: 1.5 !important;
}

.cm-header-2 {
  font-size: 1.625rem;
  color: var(--text-title-h2);
}

.cm-header-3 {
  font-size: 1.375rem;
  color: var(--text-title-h3);
}

.cm-header-4 {
  font-size: 1.125rem;
  color: var(--text-title-h4);
}

.cm-header-5 {
  font-size: 1.125rem;
  color: var(--text-title-h5);
}

.cm-header-6 {
  font-size: 1rem;
  color: var(--text-title-h6);
}

.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  font-weight: 500;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 1.5 !important;
}