/*----------------------------------------------------------------
HEADINGS
----------------------------------------------------------------*/

/*----------------------------------------------------------------
Preview */

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  font-weight: 600;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 125% !important;
}

.markdown-preview-view h1 {
  font-size: 2rem;
  color: var(--text-title-h1);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 0;
}

.markdown-preview-view h2 {
  font-size: 1.625rem;
  color: var(--text-title-h2);
}

.markdown-preview-view h3 {
  font-size: 1.375rem;
  color: var(--text-title-h3);
}

.markdown-preview-view h4 {
  font-size: 1.125rem;
  color: var(--text-title-h4);
}

.markdown-preview-view h5 {
  font-size: 1.125rem;
  color: var(--text-title-h5);
}

.markdown-preview-view h6 {
  font-size: 1rem;
  color: var(--text-title-h6);
}

/*----------------------------------------------------------------
Editor */

.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  font-weight: 600;
  margin-block-start: 1em;
  line-height: 125% !important;
}

.cm-header-1 {
  font-size: 2rem;
  color: var(--text-title-h1);
  margin-block-start: 0;
}

.cm-header-2 {
  font-size: 1.625rem;
  color: var(--text-title-h2);
}

.cm-header-3 {
  font-size: 1.375rem;
  color: var(--text-title-h3);
}

.cm-header-4 {
  font-size: 1.125rem;
  color: var(--text-title-h4);
}

.cm-header-5 {
  font-size: 1.125rem;
  color: var(--text-title-h5);
}

.cm-header-6 {
  font-size: 1rem;
  color: var(--text-title-h6);
}

.cm-s-obsidian span.cm-header-1.cm-footref,
.cm-s-obsidian span.cm-header-1.cm-blockid,
.cm-s-obsidian span.cm-header-2.cm-footref,
.cm-s-obsidian span.cm-header-2.cm-blockid,
.cm-s-obsidian span.cm-header-3.cm-footref,
.cm-s-obsidian span.cm-header-3.cm-blockid {
  font-size: 1rem;
  vertical-align: text-top;
  margin-top: -1rem;
}

.cm-s-obsidian span.cm-header-4.cm-footref,
.cm-s-obsidian span.cm-header-4.cm-blockid,
.cm-s-obsidian span.cm-header-5.cm-footref,
.cm-s-obsidian span.cm-header-5.cm-blockid,
.cm-s-obsidian span.cm-header-6.cm-footref,
.cm-s-obsidian span.cm-header-6.cm-blockid {
  font-size: 0.75rem;
  vertical-align: text-top;
  margin-top: -0.75rem;
}

.cm-s-obsidian pre.HyperMD-header {
  padding-bottom: 0;
  padding-left: 0 !important;
}

.vertical-tab-content h1:first-child,
.vertical-tab-content h2:first-child,
.vertical-tab-content h3:first-child {
  margin-block-start: 0;
}
