/*----------------------------------------------------------------
HIDDEN (comment to bring things back)
----------------------------------------------------------------*/

/*----------------------------------------------------------------
Hide main title bar */

.titlebar {
  display: none;
}

body {
  padding-top: 0 !important;
}

.workspace-split.mod-left-split .workspace-tab-header-container {
  padding-left: 24px;
}

.workspace-leaf:first-of-type:last-of-type .view-header {
  padding-left: 0;
}

/*----------------------------------------------------------------
Hide status bar */

.status-bar {
  display: none;
}

/*----------------------------------------------------------------
Hide the name of the root folder (vault) */

.nav-folder.mod-root > .nav-folder-title .nav-folder-title-content {
  display: none;
}
