/*----------------------------------------------------------------
HIDDEN (comment in/out to toggle things)
----------------------------------------------------------------*/

/*----------------------------------------------------------------
Hide main title bar */

.titlebar {
  display: none;
}

body {
  padding-top: 0 !important;
}

.mod-left-split .workspace-tab-header-container {
  padding-left: 24px;
}

body:not(.plugin-sliding-panes):not(.is-fullscreen) .mod-left-split.is-collapsed + div.mod-root .workspace-leaf:first-of-type .view-header {
  padding-left: 30px;
  transition: padding-left .15s ease;
}

body.theme-dark:not(.hider-frameless):not(.discordian-writer):not(.discordian-theme) .modal-container {
  top: 0 !important;
  height: 100vh !important;
}

/*----------------------------------------------------------------
Hide status bar */

.status-bar {
  display: none;
}

/*----------------------------------------------------------------
Hide the name of the root folder (vault) */

.nav-folder.mod-root > .nav-folder-title {
  display: none;
}
