/*----------------------------------------------------------------
HIDDEN (comment in/out to toggle things)
----------------------------------------------------------------*/

/*----------------------------------------------------------------
Hide main title bar */

.titlebar .titlebar-inner {
  display: none;
}

body {
  padding-top: 0 !important;
}

body:not(.mod-windows):not(.discordian-theme) .mod-left-split .workspace-tab-header-container {
  padding-left: 24px !important;
}

body:not(.plugin-sliding-panes):not(.is-fullscreen):not(.mod-windows) .mod-left-split.is-collapsed + div.mod-root .workspace-leaf:first-of-type .view-header {
  padding-left: 30px;
  transition: padding-left .15s ease;
}

body.hider-ribbon:not(.plugin-sliding-panes):not(.is-fullscreen):not(.mod-windows) .mod-left-split.is-collapsed + div.mod-root .workspace-leaf:first-of-type .view-header {
  padding-left: 62px;
  transition: padding-left .15s ease;
}

body.theme-dark:not(.hider-frameless):not(.discordian-writer):not(.discordian-theme) .modal-container,
body.theme-dark:not(.hider-frameless) .modal-container,
body.theme-dark:not(.discordian-writer) .modal-container,
body.theme-dark:not(.discordian-theme) .modal-container {
  top: 0 !important;
  height: 100vh !important;
}

/*----------------------------------------------------------------
Hide status bar */

.status-bar {
  display: none;
}

/*----------------------------------------------------------------
Hide the name of the root folder (vault) */

.nav-folder.mod-root > .nav-folder-title {
  display: none;
}
