/*----------------------------------------------------------------
MODALS
----------------------------------------------------------------*/

/*----------------------------------------------------------------
Settings Modal */

.modal.mod-settings {
  width: 100vw;
  max-width: 100%;
}

.modal:not(.mod-settings) {
  -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
  box-shadow: var(--elevation-stroke), var(--elevation-high);
  padding: 0; /* default: 30px 50px */
  border: 0 !important;
}

.modal:not(.mod-settings) .modal-content {
  padding: 30px 50px;
  margin-top: 0;
}

.modal:not(.mod-settings) .modal-title {
  font-size: 22px;
  line-height: 36px;
  padding: 1.25rem 2rem;
  background-color: var(--background-secondary-alt);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal.mod-settings,
.modal.mod-settings .vertical-tab-content-container,
.modal.mod-settings .vertical-tab-header {
  height: 100vh;
  max-height: 100%;
}

.modal.mod-settings .modal-close-button {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36px;
  flex: 0 0 36px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding-top: 2px;
  top: 3.75rem;
  right: 11vw;
}

.modal.mod-settings .modal-close-button:hover {
  background-color: rgba(114, 118, 125, .3);
}

.modal.mod-settings .modal-close-button::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='18' height='18' viewBox='0 0 24 24'%3E%3Cpath fill='%23dcddde' d='M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z'%3E%3C/path%3E%3C/svg%3E");
}

.modal.mod-settings .modal-close-button::after {
  position: absolute;
  content: 'ESC';
  font-weight: 600;
  font-size: 13px;
  text-align: right;
  width: 36px;
  height: 36px;
  margin-top: 4.75rem;
  margin-left: -1rem;
  cursor: default;
  pointer-events: none;
}

.horizontal-tab-content,
.vertical-tab-content {
  background-color: var(--background-primary);
  padding: 3.75rem 0 5rem 2.5rem;
}

.vertical-tabs-container {
  padding: 0;
}

.modal.mod-settings .vertical-tab-header {
  padding-top: 2.5rem;

  --scrollbar-thin-thumb: transparent;

  flex: 1 0 auto;
  display: grid;
  grid-template-rows: min-content;
  -webkit-box-flex: 1;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.modal.mod-settings .vertical-tab-header:hover {
  --scrollbar-thin-thumb: unset;
}

.modal.mod-settings .setting-item {
  margin-right: 17vw;
}

.modal.mod-settings .setting-editor-extra-setting-button {
  margin-right: 1rem;
}

.modal.mod-settings .vertical-tab-content-container {
  background-color: var(--background-primary);
  padding: 0;
  flex: 1 1 50rem;
}

.vertical-tab-header {
  background-color: var(--background-secondary);
}

.horizontal-tab-nav-item.is-active,
.vertical-tab-nav-item.is-active {
  color: var(--interactive-active);
  background-color: var(--background-modifier-active);
}

.horizontal-tab-nav-item:hover,
.vertical-tab-nav-item:hover {
  color: var(--interactive-hover);
  background-color: var(--background-modifier-hover);
}

.horizontal-tab-nav-item,
.vertical-tab-nav-item {
  background-color: var(--background-secondary);
  letter-spacing: 0;
  padding: 6px 6px 6px 24px;
  margin: 0 10px;
  color: var(--interactive-normal);
  border-radius: 3px;
}

.setting-item {
  border-top: thin solid var(--background-modifier-accent);
}

.setting-hotkey {
  min-height: unset;
}

.setting-delete-hotkey {
  line-height: unset;
  top: 0;
  right: 0;
  height: unset;
  border-radius: 0;
}

.hotkey-list-container {
  padding-left: 2px;
}

.community-theme-filters-container,
.hotkey-search-container {
  padding: 0 10px 30px 0;
}

.modal.mod-settings button {
  margin: 0;
}

/*----------------------------------------------------------------
Document Search */

.document-search-container {
  background-color: var(--background-primary);
  padding-top: 10px;
  height: 50px;
}

.document-search-button {
  background-color: var(--discord-dark) !important;
  color: var(--text-muted) !important;
}

.document-search-button:hover {
  background-color: var(--discord-dark-hover) !important;
  color: var(--text-normal) !important;
}

.document-search-close-button {
  color: var(--discord-dark);
}

.document-replace-input {
  margin-right: 8px;
}

.document-replace-buttons {
  margin-right: 4px;
}

.document-search-container.mod-replace-mode {
  height: 90px;
}

/*----------------------------------------------------------------
Modal Confirmations */

.modal-button-container {
  margin-bottom: 1.5rem;
}

.modal-button-container button {
  margin: unset;
}

/*----------------------------------------------------------------
Prompts - Discord-like */

.prompt {
  background-color: var(--background-secondary);
  border-radius: 8px;
  padding: 1.25rem 1.25rem 0.75rem 1.25rem;
}

input.prompt-input::placeholder {
  color: var(--text-normal);
  font-weight: 400;
}

input.prompt-input::-webkit-input-placeholder {
  color: #ffffff4d;
  font-weight: 400;
}

input.prompt-input::-ms-input-placeholder {
  color: var(--text-normal);
  font-weight: 400;
}

input.prompt-input {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  padding: 0 12px;
  font-size: 21px;
  border-radius: 5px;
  border: none;
  height: 70px;
  line-height: 70px;
  background-color: var(--text-muted) !important;
  color: var(--text-on-accent);
  -webkit-box-shadow: var(--elevation-high);
  box-shadow: var(--elevation-high);
}

input.prompt-input:focus-within {
  color: var(--text-on-accent);
}

.prompt-results {
  margin-right: -12px;
}

.prompt-results .suggestion-item {
  color: var(--interactive-normal);
  height: 2rem;
  padding: 0 10px;
  line-height: 2rem;
  font-weight: 500;
  border-radius: 3px;
}

.prompt-results .suggestion-item.is-selected,
.prompt-results .suggestion-item:hover {
  background-color: var(--background-modifier-selected);
  width: calc(100% - 12px);
}

.prompt-results .suggestion-hotkey {
  border-color: transparent;
  background-color: transparent;
  border-radius: 0;
  padding-right: 20px;
}

.prompt-results .suggestion-item.is-selected .suggestion-hotkey,
.prompt-results .suggestion-item:hover .suggestion-hotkey {
  margin-right: -12px;
}

.suggestion-container .prompt-instructions {
  padding: 0.625rem;
}

.prompt-instructions {
  padding: 0.625rem 0.625rem 0 0.625rem;
  border-top: 1px solid var(--background-modifier-accent);
  opacity: 1;
  color: var(--text-on-accent);
  font-size: 11px;
  line-height: 16px;
}

.prompt-instruction span {
  opacity: 0.6;
}

.prompt-instruction:first-of-type::before {
  content: 'tips:';
  text-transform: uppercase;
  color: var(--interactive-accent);
  margin-right: 0.5rem;
  font-weight: 600;
}

.prompt-instruction-command {
  font-size: 11px;
}

/*----------------------------------------------------------------
Community plugins panel */

.community-plugin-search {
  background-color: var(--background-secondary);
  padding: 20px 0 0 0;
}

.modal-content.community-plugin {
  padding: 0 0 50px 0 !important;
}

.community-plugin-readme {
  overflow-x: hidden;
}

/*----------------------------------------------------------------
Community themes panel */

.community-theme-filters-container {
  padding: 10px 30px 30px 0;
  width: fit-content !important;
}

.community-theme {
  padding: 10px 20px 20px 0;
}

.community-theme-search-container {
  display: inline-block;
  margin-right: 2rem;
}

.community-theme-list {
  margin-top: 1rem;
  justify-content: flex-start;
}

.community-theme-mode-toggle-label {
  bottom: 6px;
}

.community-theme-container button {
  margin-right: 8px;
}

.community-theme a {
  vertical-align: middle;
}

.modal.mod-community-theme {
  max-width: 56rem;
}
