/*----------------------------------------------------------------
MODALS
----------------------------------------------------------------*/

/*----------------------------------------------------------------
Translucent modals e.g. omnibar, open, commands
(credit: Nosedive-Obsidian) */

input.prompt-input, input.prompt-input:active, input.prompt-input:focus {
  border-radius: 3px;
  border: 2px solid rgba(38, 38, 59, 0.5); /* in the original code this is var(--text-muted) */
  background-color: transparent;
  box-sizing: border-box;
  border-collapse: collapse;
}

.modal {
  background-color: var(--background-secondary);
  border: 1px solid var(--background-secondary);
}

.modal-bg {
  background-color: var(--background-modifier-cover);
}

/* Make legible background for menus since we overrode the background */
div.popover.hover-popover, .menu, .suggestion-container {
  background-color: var(--background-primary);
  border: none;
  font-family: var(--font-editor);
  font-size: 20px !important;
}

/*----------------------------------------------------------------
Settings Modal */

.modal.mod-settings {
  width: 100vw;
  max-width: 100vw;
}

.modal.mod-settings,
.modal.mod-settings .vertical-tab-content-container,
.modal.mod-settings .vertical-tab-header {
  height: 100vh;
}

.modal.mod-settings .vertical-tab-content-container {
  background-color: var(--background-primary);
}

.modal.mod-settings .modal-close-button {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36px;
  flex: 0 0 36px;

  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding-top: 2px;
  top: 3.5rem;
  right: 9rem;
}
.modal.mod-settings .modal-close-button:hover {
  background-color: rgba(114,118,125,.3);
}

.modal.mod-settings .modal-close-button:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='18' height='18' viewBox='0 0 24 24'%3E%3Cpath fill='%23dcddde' d='M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z'%3E%3C/path%3E%3C/svg%3E");
}

.modal.mod-settings .modal-close-button:after {
  position: absolute;
  content: 'ESC';
  font-weight: 600;
  font-size: 13px;
  text-align: right;
  width:36px;
  height: 36px;
  margin-top: 4.75rem;
  margin-left: -1rem;
  cursor: default;
  pointer-events: none;
}

.horizontal-tab-content,
.vertical-tab-content {
  background-color: var(--background-primary); /* secondary */
}

.vertical-tabs-container {
  padding: 0 0 0 7.5rem;
}

.modal.mod-settings .vertical-tab-header {
  padding-top: 2.5rem;
  flex: 0 0 14.25rem;
}
.modal.mod-settings .vertical-tab-content-container {
  padding: 3.25rem 13rem 0 1.25rem;
}

.vertical-tab-header {
  background-color: var(--background-secondary); /*-alt*/
}

.horizontal-tab-nav-item.is-active,
.vertical-tab-nav-item.is-active {
  color: var(--interactive-active);
  background-color: var(--background-modifier-active);
}

.horizontal-tab-nav-item:hover,
.vertical-tab-nav-item:hover {
  color: var(--interactive-hover);
  background-color: var(--background-modifier-hover);
}

.horizontal-tab-nav-item,
.vertical-tab-nav-item {
  background-color: var(--background-secondary); /* -alt */
  letter-spacing: 0;
  padding: 6px 6px 6px 24px;
  /*margin: 2px 0;*/
  margin: 0 10px;
  color: var(--interactive-normal);
  border-radius: 3px;
}

.setting-item {
  border-top: thin solid var(--background-modifier-accent);
}

.setting-editor-extra-setting-button {
  margin-top: 8px;
}

.setting-hotkey {
  min-height: unset;
}

.setting-delete-hotkey {
  line-height: unset;
  top: 0;
  right: 0;
  height: unset;
}

.hotkey-list-container {
  padding-left: 2px;
}

.community-theme-filters-container, .hotkey-search-container {
  padding: 0 10px 30px 0;
}

/*----------------------------------------------------------------
Buttons */

button {
  margin: 0;
}

button.mod-cta {
  background-color: var(--discord-blue);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.01rem;
}

button.mod-cta:hover {
  background-color: var(--discord-blue-hover);
}

.modal button:not(.mod-cta):not(.mod-warning) {
  background-color: var(--background-modifier-form-field); /* background-secondary-alt */
  color: var(--text-on-accent);
}

.modal button:not(.mod-cta):not(.mod-warning):hover {
  background-color: var(--background-modifier-form-field-highlighted); /* background-primary-alt */
}

/*----------------------------------------------------------------
Community Themes Panel */

.community-theme-container button {
  margin-right: 8px;
}

.community-theme a {
  vertical-align: middle;
}

/*.modal.mod-settings button:not(.mod-cta) {
    background-color: var(--background-secondary-alt);
}*/

/*button.community-theme-preview-button {
    margin-right: 12px;
    background-color: var(--background-secondary-alt) !important;
}

button.community-theme-preview-button + button {
    margin-right: 12px;
    background-color: var(--background-secondary-alt) !important;
}*/
