/*----------------------------------------------------------------
PRESENTATION MODE
----------------------------------------------------------------*/

.reveal h1 {
  color: var(--text-title-h1);
}

.reveal h2 {
  color: var(--text-title-h2);
}

.reveal h3 {
  color: var(--text-title-h3);
}

.reveal h4 {
  color: var(--text-title-h4);
}

.reveal h5 {
  color: var(--text-title-h5);
}

.reveal h6 {
  color: var(--text-title-h6);
}
