/*----------------------------------------------------------------
SCROLLBARS
----------------------------------------------------------------*/

/*----------------------------------------------------------------
theme-default thin scrollbars */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-color: var(--scrollbar-thin-track);
  background-color: var(--background-secondary);
  border: 2px solid var(--scrollbar-thin-track);
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: var(--scrollbar-thin-thumb);
  min-height: 40px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Clean up secondary scrollbar*/
.CodeMirror-scroll::-webkit-scrollbar {
  display: none !important;
}

/*----------------------------------------------------------------
scrollbars in editor & preview */

.mod-root {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-auto-scrollbar-color-thumb) var(--scrollbar-auto-scrollbar-color-track);
}

.mod-root ::-webkit-scrollbar {
  width: 16px !important;
  height: 16px !important;
}

.mod-root ::-webkit-scrollbar-track {
  background-color: var(--scrollbar-auto-track);
  border: 4px solid var(--background-primary);
}

.mod-root ::-webkit-scrollbar-thumb,
.mod-root ::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

.mod-root ::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-auto-thumb);
  min-height: 40px;
}

.mod-root ::-webkit-scrollbar-corner {
  background-color: transparent;
}

/*----------------------------------------------------------------
graph controls scrollbars */

.mod-root .graph-controls::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

.mod-root .graph-controls::-webkit-scrollbar-track {
  border-color: var(--background-secondary-alt) !important;
  background-color: var(--background-primary) !important;
  border: 0 solid var(--scrollbar-thin-track) !important;
  border-radius: 0 !important;
}

.mod-root .graph-controls::-webkit-scrollbar-thumb {
  background-clip: padding-box !important;
  border: 2px solid transparent !important;
  border-radius: 0 !important;
  background-color: var(--scrollbar-thin-thumb);
  min-height: 40px !important;
}

.mod-root .graph-controls::-webkit-scrollbar-corner {
  background-color: transparent !important;
}

/*----------------------------------------------------------------
codeblocks - scrollable content without horizontal scrollbar */

.markdown-preview-section pre::-webkit-scrollbar-track {
  border: 0;
  border-radius: 0;
  background-color: var(--background-primary);
}

.markdown-preview-section pre::-webkit-scrollbar-thumb {
  background-color: var(--background-primary); /* --scrollbar-thin-thumb to reveal */
  border: 6px solid transparent;
}
