/*----------------------------------------------------------------
TABLES
----------------------------------------------------------------*/

th {
  font-weight: 800;
}

thead {
  border-top: 2px solid var(--discord-yellow-alt);
}

table {
  border-collapse: collapse;
}

/*----------------------------------------------------------------
Preview Mode */

.markdown-preview-view table {
  margin: 2rem 0;
}

.markdown-preview-view td,
.markdown-preview-view th {
  border: none;
}

.markdown-preview-view th {
  font-family: var(--default-font);
  font-weight: bold;
}

.markdown-preview-view thead > tr {
  border-top: 0 !important;
}

.markdown-preview-view tr {
  border-top: 1px solid var(--background-accent);
}

.markdown-preview-view td,
.markdown-preview-view tr > th {
  border-left: 1px solid var(--background-accent);
}

.markdown-preview-view tr > td:first-of-type,
tr > th:first-of-type {
  border-left: 0;
}

/*----------------------------------------------------------------
Editor Mode */

.CodeMirror pre.HyperMD-table-row {
  font-family: var(--font-monospace);
  font-size: 100%;
  letter-spacing: 0;
}

.cm-s-obsidian pre.HyperMD-table-row.HyperMD-table-row-0 {
  margin-top: 0.15rem;
}
