/*----------------------------------------------------------------
TAGS
----------------------------------------------------------------*/

a.tag,
span:not(.cm-header).cm-hashtag {
  font-weight: 400;
  unicode-bidi: -moz-plaintext;
  unicode-bidi: plaintext;
  color: var(--discord-blue);
  background: rgba(114, 137, 218, 0.1);
  position: relative;
  -webkit-transition: background-color .15s ease-out, color .15s ease-out;
  transition: background-color .15s ease-out, color .15s ease-out;
}

span:not(.cm-header).cm-hashtag-begin {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

span:not(.cm-header).cm-hashtag-end {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

a.tag {
  padding: 1px 4px !important;
  border-radius: 3px;
}

span:not(.cm-header).cm-hashtag {
  text-decoration: none !important;
}

a.tag:hover {
  text-decoration: none !important;
  color: var(--discord-blue);
  background-color: rgba(114, 137, 218, 0.2);
}

h1 a.tag,
h2 a.tag,
h3 a.tag,
h4 a.tag,
h5 a.tag,
h6 a.tag {
  background: unset;
  font-style: italic;
  color: unset;
  filter: invert(30%);
}

h1 a.tag:hover,
h2 a.tag:hover,
h3 a.tag:hover,
h4 a.tag:hover,
h5 a.tag:hover,
h6 a.tag:hover {
  background: unset;
  color: unset;
}

span.cm-hashtag {
  text-decoration: none !important;
}
