/*----------------------------------------------------------------
TOGGLE SWITCHES
----------------------------------------------------------------*/

.checkbox-container {
  background-color: var(--text-faint);
  border: none;
  box-shadow: none;
  cursor: var(--cursor);
  width: 40px;
  height: 24px;
  -webkit-transition: all .17s;
  transition: all .17s ease;
}

.checkbox-container.is-enabled {
  background-color: var(--interactive-accent);
}

.checkbox-container:before, .checkbox-container:after {
  color: var(--text-muted);
}

.checkbox-container:before {
  content: '\2A2f';
  font-size: 26px;
  font-weight: 200;
  display: block;
  position: absolute;
  opacity: 0.8;
  z-index: 1;
  transform: translate3d(-21px, -1px, 0)
}

.checkbox-container.is-enabled:before {
  content: '\2143';
  color: var(--interactive-accent);
  font-size: 13px;
  font-weight: 600;
  transform: translate3d(-7px, -9px, 0) rotate(38deg);
}

.checkbox-container.is-enabled:after {
  transform: translate3d(15px, 0, 0);
}

.checkbox-container:after {
  box-shadow: none !important;
  width: 18px;
  height: 18px;
  transform: translate3d(1px, 0, 0);
}

.community-theme-container .checkbox-container.is-enabled:before {
  transform: translate3d(18px, 10px, 0) rotate(38deg);
}

.community-theme-container .checkbox-container:before {
  transform: translate3d(7px, -1px, 0);
}
